$white: #fff;
$primary: #a65cf0;
$primary_light: #c998fb;
$primary_shade: #7033ac;
$pink_violet: #ebd1ff;
$pink_light: #f8efff;
$black: #333333;
$md_grey: #eaeaea;
$grey: #999999;
$grey_light: #f6f6f6;
$grey_shade: #666;
$green_184: #b8ec64;
$secondary: #ff862f;
$secondary_light: #ffbd59;
$secondary_shade: #bb370e;
$bone: #fff5d1;
$gold: #d5b986;
$trans-color: color 0.2s ease-in-out;
$trans-Bcolor: background-color 0.2s ease-in-out;
$trans-BI: background-image 0.2s ease-in-out;
$trans-border: border 0.2s ease-in-out;
$trans-outline: outline 0.2s ease-in-out;
$trans-fill: fill 0.2s ease-in-out;
$trans-background: background 0.2s ease-in-out;
